/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  --color-dark-green: #232E26;
  --color-mint-green: #D9EFDE;
}

body {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-mint-green);
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* NAVBAR */

.navbar {
  align-items: center;
  background: var(--color-mint-green);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: fixed;
  width: 100%;
}

.navbar a {
  color: var(--color-dark-green);
}

.nav-logo {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.nav-logo img {
  width: 2.5rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
