/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark-green: #232E26;
  --color-mint-green: #D9EFDE;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
  font-family: 'Lato', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-mint-green);
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* NAVBAR */

.navbar {
  align-items: center;
  background: var(--color-mint-green);
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1.25rem 2rem;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 20;
}

.navbar a {
  color: var(--color-dark-green);
}

.nav-logo {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.nav-logo img {
  width: 2.25rem;
}

.nav-logo p {
  font-size: 2rem;
  font-weight: 700;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 2.5rem;
  justify-content: flex-end;
}

.nav-links a {
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  transform: scale(1.1);
}

.nav-calls {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.nav-cta {
  border: 0.1rem solid var(--color-dark-green);
  border-radius: 2rem;
  padding: 0.75rem 2.5rem;
  transition: all 0.3s ease-in-out;
}

.nav-cta:hover {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
}

.nav-cta.fill {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
}

.nav-cta.fill:hover {
  background: transparent;
  color: var(--color-dark-green);
}

.nav-burger {
  align-items: center;
  display: none;
  flex-direction: column;
  gap: 0.4rem;
  height: 2rem;
  justify-content: center;
}

.nav-burger span {
  background: var(--color-dark-green);
  height: 0.15rem;
  transition: all 0.4s ease-in-out;
  transform-origin: center;
  width: 2.5rem;
}

.nav-burger.active span.top {
  transform: translateY(0.55rem) rotate(45deg);
}

.nav-burger.active span.middle {
  opacity: 0;
}

.nav-burger.active span.bottom {
  transform: translateY(-0.55rem) rotate(-45deg);
}

.nav-menu {
  background: var(--color-mint-green);
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  left: 0;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: -100vh;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 10;
}

.nav-menu.active {
  top: 0;
}

.nav-menu a {
  color: var(--color-dark-green);
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;
}

.nav-menu a:hover {
  transform: scale(1.05);
}

.nav-menu-calls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-menu-cta {
  border: 0.1rem solid var(--color-dark-green);
  border-radius: 2rem;
  display: block;
  padding: 0.75rem 0;
  text-align: center;
}

.nav-menu-cta:hover {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
}

.nav-menu-cta.fill {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
}

.nav-menu-cta.fill:hover {
  background: var(--color-mint-green);
  color: var(--color-dark-green);
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-logo img {
    width: 1.75rem;
  }
  .nav-logo p {
    font-size: 1.5rem;
  }
  .nav-links {
    display: none;
  }
  .nav-burger {
    display: flex;
  }
}


/* HOME SECTION */

.home-section {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 12.5rem 5rem 5rem 5rem;
  scroll-margin-top: 6rem;
}

.home-left {
  width: calc(50% - 1rem);
}

.home-left h1 {
  font-size: 4.25rem;
  font-weight: 700;
  margin: 0 0 2rem 0;
}

.home-left p {
  font-size: 1.4rem;
  line-height: 2.15rem;
  margin: 0 0 2.5rem 0;
}

.home-left a {
  background: var(--color-mint-green);
  border: 0.1rem solid var(--color-mint-green);
  border-radius: 2rem;
  color: var(--color-dark-green);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in-out;
}

.home-left a:hover {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
}

.home-right {
  width: calc(45% - 1rem);
}

.home-section img {
  border-radius: 2rem;
  height: 31.5rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .home-section {
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    padding: 8.5rem 1.75rem 4rem 1.75rem;
  }
  .home-left {
    width: 100%;
  }
  .home-left h1 {
    font-size: 3rem;
    margin: 0 0 1rem 0;
  }
  .home-left p {
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0 0 2rem 0;
  }
  .home-left a {
    font-size: 1rem;
    padding: 0.85rem 1.75rem;
  }
  .home-right {
    width: 100%;
  }
  .home-right img {
    height: 25rem;
  }
}


/* FEATURES SECTION */

.features-section {
  align-items: flex-start;
  background: var(--color-mint-green);
  border-radius: 2rem;
  color: var(--color-dark-green);
  display: flex;
  gap: 2rem;
  padding: 4.5rem 5rem 3rem 5rem;
  scroll-margin-top: 6rem;
}

.features-left {
  width: calc(30% - 1rem);
}

.features-left span {
  font-size: 1rem;
}

.features-left h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin: 1.5rem 0 2rem 0;
}

.features-left a {
  background: var(--color-dark-green);
  border: 0.1rem solid var(--color-dark-green);
  border-radius: 2rem;
  color: var(--color-mint-green);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in-out;
}

.features-left a:hover {
  background: var(--color-mint-green);
  color: var(--color-dark-green);
}

.features-right {
  align-items: flex-start;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  width: calc(70% - 1rem);
}

.feature-card {
  width: calc(33.333% - 2rem);
}

.feature-card img {
  border-radius: 1rem;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  margin: 0 0 1rem 0;
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
