/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark-green: #232E26;
  --color-mint-green: #D9EFDE;
}

body {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
  font-family: 'Lato', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-mint-green);
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* NAVBAR */

.navbar {
  align-items: center;
  background: var(--color-mint-green);
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1.25rem 2rem;
  position: fixed;
  right: 0;
  width: 100%;
}

.navbar a {
  color: var(--color-dark-green);
}

.nav-logo {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}

.nav-logo img {
  width: 2.25rem;
}

.nav-logo p {
  font-size: 2rem;
  font-weight: 700;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 2.5rem;
  justify-content: flex-end;
}

.nav-links a {
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  transform: scale(1.1);
}

.nav-calls {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.nav-cta {
  border: 0.1rem solid var(--color-dark-green);
  border-radius: 2rem;
  padding: 0.75rem 2.5rem;
  transition: all 0.3s ease-in-out;
}

.nav-cta:hover {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
}

.nav-cta.fill {
  background: var(--color-dark-green);
  color: var(--color-mint-green);
}

.nav-cta.fill:hover {
  background: transparent;
  color: var(--color-dark-green);
}

.nav-burger {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  height: 2rem;
  justify-content: center;
}

.nav-burger span {
  background: var(--color-dark-green);
  height: 0.15rem;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
  width: 2.5rem;
}

.nav-burger span.top {
  transform: translateY(0.45rem) rotate(45deg);
}

.nav-burger span.middle {
  opacity: 0;
}

.nav-burger span.bottom {
  transform: translateY(-0.45rem) rotate(-45dreg);
}

.nav-menu {
  left: 0;
  position: fixed;
  top: -100vh;
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .nav-logo img {
    width: 1.75rem;
  }
  .nav-logo p {
    font-size: 1.5rem;
  }
  .nav-links {
    display: none;
  }
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
